/* styles.css */

/* Navbar */
.navbar {
    padding: 1rem 2rem;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-nav .nav-link {
    color: rgb(255, 0, 0);
  }
  
  /* Home Section */
  #home {
    background-color: #f8f9fa;
    padding: 4rem 0;
  }
  
  /* About Section */
  #about {
    background-color: #dee2e6;
    padding: 4rem 0;
  }
  
  /* Portfolio Section */
  #portfolio {
    background-color: #f8f9fa;
    padding: 4rem 0;
  }
  
  /* Contact Section */
  #contact {
    padding: 4rem 0;
  }
  
  /* Footer */
  footer {
    background-color: #343a40;
    color: white;
    padding: 2rem 
  }
.all{
    text-align: center;
  }
button{
    background-color: aqua;
    border-radius: 10px;
    height: 40px;
    width:80px;
    box-shadow: 5px;   
}